boto3==1.34.103
click==8.1.7
h5py==3.11.0
joblib==1.4.2
matplotlib==3.8.4
nibabel==5.2.1
nilearn==0.10.4
numpy==1.26.4
pandas==2.2.2
pytorch_lightning==2.2.4
scikit_learn==1.4.2
scipy==1.13.0
seaborn==0.13.2
setuptools==68.0.0
torch==2.3.0
torchinfo==1.8.0
torchmetrics==1.4.0
tqdm==4.65.0
umap==0.1.1
